<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>AngularJS-01</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <style type="text/css">
  h1,#idContent,footer{text-align:center;}
  </style>
 </head>
 <body ng-app="" style="color:{{fgColorName}}; background-color:{{bgColorName}}">
  <header>
   <h1>Change HTML Foreground/Background colours</h1>
  </header>
  <div id="idContent">
  HTML Foreground colour:
  <br>
  <input type="text" placeholder="fgColorName" ng-model="fgColorName">
  <br><br>
  HTML Background colour:
  <br>
  <input type="text" placeholder="bgColorName" ng-model="bgColorName">
  </div>
  <footer>
   <p>
    Page created: 17:25 27/03/2016
    <br>
    Last updated: 17:25 27/03/2016
   </p>
  </footer>
 </body>
</html>
